
.alimentos{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 90px 150px 300px 300px 300px 300px 300px 120px;
        grid-template-areas: "headerAl1 headerAl2"
        "navbar navbar" 
        "imagen1Al imagen2Al"
        "imagen3Al imagen4Al"
        "imagen5Al imagen6Al"
        "imagen7Al imagen8Al"
        "imagen9Al imagen10Al"
        "footer footer";
}

.headerAl1{
    grid-area: headerAl1;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.headerAl2{
    grid-area: headerAl2;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    font-size: 50px;
    color: red;    
}

.bi-door-open:hover{
    color: green;
}
.logo{
    text-decoration: none;
    color: white;
}
.navbaralimentos{
    grid-area: navbar;
}

footer{
    grid-area: footer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}


.contenedor{
    margin-top: 5%;
}

.card{
    margin-top: 5%;
    margin-bottom: 1%;
    margin-left: 20%;
  }

.card-img-top{
    width: 40%;
    height:45%;
}

@media screen and (max-width:768px){
    
    .alimentos{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 90px 90px 100px 250px 250px 250px 250px 250px 250px 250px 250px 250px 250px 120px;
        grid-template-areas: "headerAl1" 
        "headerAl2"
        "navbar"
        "imagen1Al" 
        "imagen2Al"
        "imagen3Al" 
        "imagen4Al"
        "imagen5Al" 
        "imagen6Al"
        "imagen7Al"
        "imagen8Al"
        "imagen9Al"
        "imagen10Al"
        "footer";
    
    }

    .header1{
        grid-area: headerAl1;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }
    
    .headerAl2{
        grid-area: headerAl2;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        font-size: 20px;
        color: $mainColor;   
    }
    
    .bi-door-open:hover{
        color: green;
    }
    .logo{
        text-decoration: none;
        color: white;
    }
    .navbar{
        grid-area: navbar;
    }
    
    footer{
        grid-area: footer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    
    
    .contenedor{
        margin-top: 5%;
    }
    
    .card{
        margin-top: 5%;
        margin-bottom: 7%;
        margin-left: 10%;
        width: 100%;
        height: 95%;
        
    
    }
    .card-img-top{
        width: 45%;
        height:45%;
    }

}