$mainColor: rgba(255, 0, 0, 0.678);


.titulo{
    font-family: 'Roboto', sans-serif;
    color: $mainColor;
    text-align: center; 
       
}

.titulo_olbepo{
    @extend .titulo;
    font-size: 45px;
    font-weight: bold;


}

.titulo_olbepo1{
    @extend .titulo;
    font-size: small;
    font-style: italic;
}
.titulo_index{
    @extend .titulo;
    font-size: 20px;
    font-style: oblique;

}

.imagen_nav{
    width: 50%;
    height: 50%;
    margin-top: 3%;
}
.adopta{
  @extend .titulo;
  font: 25px;
  font-style: oblique;
  align-items: center;
}
/*aplicamos MIXIN en Asesoramiento, Ofertas*/ 

@mixin estilo_card ($colorLetra, $colorFondo, $tamanioLetra) {

    font-size: $tamanioLetra;
    text-align: center;   
    font-family: 'Boogaloo', cursive;
    color: $colorLetra;
    background-color: $colorFondo;
  }
  
  .card1{
  
    @include estilo_card( white, blue, 20px);
  }
  
  .card2{
    @include estilo_card(white,red, 20px )
  }
  
  .card3{ 
    @include estilo_card(rgb(255, 238, 0),rgba(255, 0, 140, 0.623) , 20px )
  }

  .card4{
      @include estilo_card(blue,white ,17px )
  }
  
  .contactotitulo{
    @include estilo_card(green,$mainColor , 25px )
  }
  .contactoformulario{
    @include estilo_card($mainColor, white, 35px )
  }

  .colornav{
    color: indigo;
  }